/** {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
**/

body, html {
    height: 100%;
    font-size: 16px;
  }
  
  .parallax {
  /* The image used */
    background-image: url('../img/82.jpg');

  /* Full height */
    height: 100%; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

header {
    background: white;
    opacity: .5;
    position: absolute;
    top: 2%;
    width: 100%;
    height: auto;
}

header h1 {
  margin: 1%;
  font-size: 3em;
}

#services {
    background: white;
    position: absolute;
    top: 52%;
    width: 100%;
    height: auto;
}

#services p {
  margin: 1%;
  font-size: 2em;
}

/***About***/

#about {
    background: white;
    position: absolute;
    top: 152%;
    width: 100%;
    height: auto;
}

#about h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}

#about h3 {
    text-align: center;
    font-size: 1.375em;
}

#about p {
    font-size: 1em;
    text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }

