/***** GRID ******/

.full-width {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.half-width {
    width: 100%;
    max-width: 950px;
    float: left;
}

.third-width {
    width: 100%;
    max-width: 630px;
    float: left;  
}

/****Header****/

header {
    height: 978px;
    background: url('../img/background.jpg');
    background-size: cover;
    margin: 0 auto;
}

/***Footer***/

footer a {
    text-decoration: none;
    color: #fa0075;
}


