{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/**  float: left;
  padding: 15px;
}
**/


body, html {
    height: 100%;
    font-size: 16px;
    max-width: 1200px;
  }
  
  .parallax {
  /* The image used */
    background-image: url('../img/82.jpg');

  /* Full height */
    height: 100%;
    max-width: 1200px;

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

header {
    background: rgba(255, 255, 255, .0);
    position: fixed;
    top: 1%;
    max-width: 1200px;
    height: auto;
    display: flex;
}

header h1 {
  font-size: 3em;
}

#services {
    background: white;
    position: absolute;
    top: 52%;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

#services p {
  font-size: 1.75em;
  text-align: center;
}

/***About***/

#about {
    background: white;
    position: absolute;
    top: 140%;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

#about h2 {
    font-size: 1.90em;
    text-align: center;
}

#about h3 {
    text-align: center;
    font-size: 1.375em;
}

#about p {
    font-size: 1.25em;
    text-align: center;
}

/***Contact***/

#contact {
    background: url('../img/background2.jpg');
    background-size: cover;
    position: absolute;
    top: 200%;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

#contact h3 {
    color: white;
    font-family: 'Balthazar', serif;
    font-size: 1.875em;
    margin: 0 ;
    padding-top: 20%;
    text-align: center;   
}

#contact h4 {
    color: white;
    font-family: 'Balthazar', serif;
    font-size: 1.875em;
    margin: 0 ;
    padding-top: 10%;
    text-align: center;   
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    font-size: 1.94em;
    padding-left: 240px;
    padding-top: 15px;
}

#contact h2 {
    color: white;
    font-size: 2.88em;
    font-family: 'Balthazar', serif;
    text-align: center;
    margin: 0 ;
    padding-left: 4.5%;
}

footer {
  max-width: 1200px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-device-width: 1400px) {
  .parallax {
    background-attachment: scroll;
  }

